:root {
  /* Cores */
  --primary: #2E86C1;
  --primary-dark: #1B3A57;
  --secondary: #F39C12;
  --secondary-dark: #D68910;
  --neutral-light: #F4F6F7;
  --neutral-dark: #2C3E50;
  --gray: #95A5A6;
  --white: #FFFFFF;

  /* Header */
  --header-bg: url('../assets/imagens/banner.jpg'); /* ou cor sólida */
  --header-title-color: #1B3A57;    /* Azul escuro */
  --header-subtitle-color: #2C3E50; /* Subtítulo mais escuro */
  --cta-btn-bg: #1B3A57;
  --cta-btn-bg-hover: #162E45;
  --cta-btn-color: #FFFFFF;

  /* Tipografia */
  --font: 'Arial', sans-serif;
  --fs-xxl: 60px; /* aumentamos o título */
  --fs-xl: 32px;
  --fs-l: 24px;
  --fs-m: 18px;
  --fs-s: 14px;
  --fs-xs: 12px;

  /* Espaçamento */
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 48px;
  --space-6: 64px;
}